node
node_modules
target
*.iml
.classpath
.project
.settings
pom.xml.versionsBackup
pom.xml.releaseBackup
release.properties
.DS_Store
work/

src/main/webapp/css/**/prism*.css
src/main/webapp/js/**/prism*.js
src/main/webapp/js/index.js
